# coding: utf-8

"""
    Nodeum API

    Nodeum API  # Filter parameters When browsing a list of items, multiple filter parameters may be applied. Some operators can be added to the value as a prefix:  - `=` value is equal. Default operator, may be omitted  - `!=` value is different  - `>` greater than  - `>=` greater than or equal  - `<` lower than  - `>=` lower than or equal  - `><` included in list, items should be separated by `|`  - `!><` not included in list, items should be separated by `|`  - `~` pattern matching, may include `%` (any characters) and `_` (one character)  - `!~` pattern not matching, may include `%` (any characters) and `_` (one character)    # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class TapeDrivesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_tape_drive_by_tape_library(self, tape_library_id, tape_drive_body, **kwargs):  # noqa: E501
        """Creates a new tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / create  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_tape_drive_by_tape_library(tape_library_id, tape_drive_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param TapeDrive tape_drive_body: (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_body, **kwargs)  # noqa: E501
            return data

    def create_tape_drive_by_tape_library_with_http_info(self, tape_library_id, tape_drive_body, **kwargs):  # noqa: E501
        """Creates a new tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / create  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param TapeDrive tape_drive_body: (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_library_id', 'tape_drive_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_tape_drive_by_tape_library" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_library_id' is set
        if ('tape_library_id' not in params or
                params['tape_library_id'] is None):
            raise ValueError("Missing the required parameter `tape_library_id` when calling `create_tape_drive_by_tape_library`")  # noqa: E501
        # verify the required parameter 'tape_drive_body' is set
        if ('tape_drive_body' not in params or
                params['tape_drive_body'] is None):
            raise ValueError("Missing the required parameter `tape_drive_body` when calling `create_tape_drive_by_tape_library`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_library_id' in params:
            path_params['tape_library_id'] = params['tape_library_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'tape_drive_body' in params:
            body_params = params['tape_drive_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_libraries/{tape_library_id}/tape_drives', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TapeDrive',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def destroy_tape_drive(self, tape_drive_id, **kwargs):  # noqa: E501
        """Destroys a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / destroy  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.destroy_tape_drive(tape_drive_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.destroy_tape_drive_with_http_info(tape_drive_id, **kwargs)  # noqa: E501
        else:
            (data) = self.destroy_tape_drive_with_http_info(tape_drive_id, **kwargs)  # noqa: E501
            return data

    def destroy_tape_drive_with_http_info(self, tape_drive_id, **kwargs):  # noqa: E501
        """Destroys a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / destroy  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.destroy_tape_drive_with_http_info(tape_drive_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_drive_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method destroy_tape_drive" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_drive_id' is set
        if ('tape_drive_id' not in params or
                params['tape_drive_id'] is None):
            raise ValueError("Missing the required parameter `tape_drive_id` when calling `destroy_tape_drive`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_drive_id' in params:
            path_params['tape_drive_id'] = params['tape_drive_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_drives/{tape_drive_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def destroy_tape_drive_by_tape_library(self, tape_library_id, tape_drive_id, **kwargs):  # noqa: E501
        """Destroys a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / destroy  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.destroy_tape_drive_by_tape_library(tape_library_id, tape_drive_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.destroy_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, **kwargs)  # noqa: E501
        else:
            (data) = self.destroy_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, **kwargs)  # noqa: E501
            return data

    def destroy_tape_drive_by_tape_library_with_http_info(self, tape_library_id, tape_drive_id, **kwargs):  # noqa: E501
        """Destroys a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / destroy  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.destroy_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_library_id', 'tape_drive_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method destroy_tape_drive_by_tape_library" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_library_id' is set
        if ('tape_library_id' not in params or
                params['tape_library_id'] is None):
            raise ValueError("Missing the required parameter `tape_library_id` when calling `destroy_tape_drive_by_tape_library`")  # noqa: E501
        # verify the required parameter 'tape_drive_id' is set
        if ('tape_drive_id' not in params or
                params['tape_drive_id'] is None):
            raise ValueError("Missing the required parameter `tape_drive_id` when calling `destroy_tape_drive_by_tape_library`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_library_id' in params:
            path_params['tape_library_id'] = params['tape_library_id']  # noqa: E501
        if 'tape_drive_id' in params:
            path_params['tape_drive_id'] = params['tape_drive_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_libraries/{tape_library_id}/tape_drives/{tape_drive_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def index_tape_drive_devices(self, tape_library_id, **kwargs):  # noqa: E501
        """Lists tape drives devices.  # noqa: E501

        **API Key Scope**: tape_drives / devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.index_tape_drive_devices(tape_library_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param str job_id: ID of active job
        :return: TapeDriveDeviceCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.index_tape_drive_devices_with_http_info(tape_library_id, **kwargs)  # noqa: E501
        else:
            (data) = self.index_tape_drive_devices_with_http_info(tape_library_id, **kwargs)  # noqa: E501
            return data

    def index_tape_drive_devices_with_http_info(self, tape_library_id, **kwargs):  # noqa: E501
        """Lists tape drives devices.  # noqa: E501

        **API Key Scope**: tape_drives / devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.index_tape_drive_devices_with_http_info(tape_library_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param str job_id: ID of active job
        :return: TapeDriveDeviceCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_library_id', 'job_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method index_tape_drive_devices" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_library_id' is set
        if ('tape_library_id' not in params or
                params['tape_library_id'] is None):
            raise ValueError("Missing the required parameter `tape_library_id` when calling `index_tape_drive_devices`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_library_id' in params:
            path_params['tape_library_id'] = params['tape_library_id']  # noqa: E501

        query_params = []
        if 'job_id' in params:
            query_params.append(('job_id', params['job_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_libraries/{tape_library_id}/tape_drives/-/devices', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TapeDriveDeviceCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def index_tape_drives(self, **kwargs):  # noqa: E501
        """Lists all tape drives.  # noqa: E501

        **API Key Scope**: tape_drives / index  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.index_tape_drives(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: The number of items to display for pagination.
        :param int offset: The number of items to skip for pagination.
        :param list[str] sort_by: Sort results by attribute.  Can sort on multiple attributes, separated by `|`. Order direction can be suffixing the attribute by either `:asc` (default) or `:desc`.
        :param str id: Filter on id
        :param str tape_library_id: Filter on tape library id
        :param str name: Filter on name
        :param str serial: Filter on serial
        :param str comment: Filter on comment
        :param str scsi_address: Filter on scsi address
        :param str vendor: Filter on vendor
        :param str product: Filter on product
        :param str firmware: Filter on firmware
        :param str device: Filter on device
        :param str sgdevice: Filter on sgdevice
        :param str libso: Filter on libso
        :param str acs: Filter on acs
        :param str lsm: Filter on lsm
        :param str panel: Filter on panel
        :param str transport: Filter on transport
        :param str status: Filter on status
        :param str full: Filter on full
        :param str mount_count: Filter on mount count
        :param str use_to: Filter on use to
        :param str use_by: Filter on use by
        :param str use_file_processed_size: Filter on use file processed size
        :param str use_file_size_to_process: Filter on use file size to process
        :param str use_file_name_processed: Filter on use file name processed
        :param str bandwidth: Filter on bandwidth
        :return: TapeDriveCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.index_tape_drives_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.index_tape_drives_with_http_info(**kwargs)  # noqa: E501
            return data

    def index_tape_drives_with_http_info(self, **kwargs):  # noqa: E501
        """Lists all tape drives.  # noqa: E501

        **API Key Scope**: tape_drives / index  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.index_tape_drives_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int limit: The number of items to display for pagination.
        :param int offset: The number of items to skip for pagination.
        :param list[str] sort_by: Sort results by attribute.  Can sort on multiple attributes, separated by `|`. Order direction can be suffixing the attribute by either `:asc` (default) or `:desc`.
        :param str id: Filter on id
        :param str tape_library_id: Filter on tape library id
        :param str name: Filter on name
        :param str serial: Filter on serial
        :param str comment: Filter on comment
        :param str scsi_address: Filter on scsi address
        :param str vendor: Filter on vendor
        :param str product: Filter on product
        :param str firmware: Filter on firmware
        :param str device: Filter on device
        :param str sgdevice: Filter on sgdevice
        :param str libso: Filter on libso
        :param str acs: Filter on acs
        :param str lsm: Filter on lsm
        :param str panel: Filter on panel
        :param str transport: Filter on transport
        :param str status: Filter on status
        :param str full: Filter on full
        :param str mount_count: Filter on mount count
        :param str use_to: Filter on use to
        :param str use_by: Filter on use by
        :param str use_file_processed_size: Filter on use file processed size
        :param str use_file_size_to_process: Filter on use file size to process
        :param str use_file_name_processed: Filter on use file name processed
        :param str bandwidth: Filter on bandwidth
        :return: TapeDriveCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'sort_by', 'id', 'tape_library_id', 'name', 'serial', 'comment', 'scsi_address', 'vendor', 'product', 'firmware', 'device', 'sgdevice', 'libso', 'acs', 'lsm', 'panel', 'transport', 'status', 'full', 'mount_count', 'use_to', 'use_by', 'use_file_processed_size', 'use_file_size_to_process', 'use_file_name_processed', 'bandwidth']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method index_tape_drives" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501
            collection_formats['sort_by'] = 'pipes'  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'tape_library_id' in params:
            query_params.append(('tape_library_id', params['tape_library_id']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'serial' in params:
            query_params.append(('serial', params['serial']))  # noqa: E501
        if 'comment' in params:
            query_params.append(('comment', params['comment']))  # noqa: E501
        if 'scsi_address' in params:
            query_params.append(('scsi_address', params['scsi_address']))  # noqa: E501
        if 'vendor' in params:
            query_params.append(('vendor', params['vendor']))  # noqa: E501
        if 'product' in params:
            query_params.append(('product', params['product']))  # noqa: E501
        if 'firmware' in params:
            query_params.append(('firmware', params['firmware']))  # noqa: E501
        if 'device' in params:
            query_params.append(('device', params['device']))  # noqa: E501
        if 'sgdevice' in params:
            query_params.append(('sgdevice', params['sgdevice']))  # noqa: E501
        if 'libso' in params:
            query_params.append(('libso', params['libso']))  # noqa: E501
        if 'acs' in params:
            query_params.append(('acs', params['acs']))  # noqa: E501
        if 'lsm' in params:
            query_params.append(('lsm', params['lsm']))  # noqa: E501
        if 'panel' in params:
            query_params.append(('panel', params['panel']))  # noqa: E501
        if 'transport' in params:
            query_params.append(('transport', params['transport']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'full' in params:
            query_params.append(('full', params['full']))  # noqa: E501
        if 'mount_count' in params:
            query_params.append(('mount_count', params['mount_count']))  # noqa: E501
        if 'use_to' in params:
            query_params.append(('use_to', params['use_to']))  # noqa: E501
        if 'use_by' in params:
            query_params.append(('use_by', params['use_by']))  # noqa: E501
        if 'use_file_processed_size' in params:
            query_params.append(('use_file_processed_size', params['use_file_processed_size']))  # noqa: E501
        if 'use_file_size_to_process' in params:
            query_params.append(('use_file_size_to_process', params['use_file_size_to_process']))  # noqa: E501
        if 'use_file_name_processed' in params:
            query_params.append(('use_file_name_processed', params['use_file_name_processed']))  # noqa: E501
        if 'bandwidth' in params:
            query_params.append(('bandwidth', params['bandwidth']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_drives', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TapeDriveCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def index_tape_drives_by_tape_library(self, tape_library_id, **kwargs):  # noqa: E501
        """Lists all tape drives.  # noqa: E501

        **API Key Scope**: tape_drives / index  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.index_tape_drives_by_tape_library(tape_library_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param int limit: The number of items to display for pagination.
        :param int offset: The number of items to skip for pagination.
        :param list[str] sort_by: Sort results by attribute.  Can sort on multiple attributes, separated by `|`. Order direction can be suffixing the attribute by either `:asc` (default) or `:desc`.
        :param str id: Filter on id
        :param str name: Filter on name
        :param str serial: Filter on serial
        :param str comment: Filter on comment
        :param str scsi_address: Filter on scsi address
        :param str vendor: Filter on vendor
        :param str product: Filter on product
        :param str firmware: Filter on firmware
        :param str device: Filter on device
        :param str sgdevice: Filter on sgdevice
        :param str libso: Filter on libso
        :param str acs: Filter on acs
        :param str lsm: Filter on lsm
        :param str panel: Filter on panel
        :param str transport: Filter on transport
        :param str status: Filter on status
        :param str full: Filter on full
        :param str mount_count: Filter on mount count
        :param str use_to: Filter on use to
        :param str use_by: Filter on use by
        :param str use_file_processed_size: Filter on use file processed size
        :param str use_file_size_to_process: Filter on use file size to process
        :param str use_file_name_processed: Filter on use file name processed
        :param str bandwidth: Filter on bandwidth
        :return: TapeDriveCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.index_tape_drives_by_tape_library_with_http_info(tape_library_id, **kwargs)  # noqa: E501
        else:
            (data) = self.index_tape_drives_by_tape_library_with_http_info(tape_library_id, **kwargs)  # noqa: E501
            return data

    def index_tape_drives_by_tape_library_with_http_info(self, tape_library_id, **kwargs):  # noqa: E501
        """Lists all tape drives.  # noqa: E501

        **API Key Scope**: tape_drives / index  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.index_tape_drives_by_tape_library_with_http_info(tape_library_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param int limit: The number of items to display for pagination.
        :param int offset: The number of items to skip for pagination.
        :param list[str] sort_by: Sort results by attribute.  Can sort on multiple attributes, separated by `|`. Order direction can be suffixing the attribute by either `:asc` (default) or `:desc`.
        :param str id: Filter on id
        :param str name: Filter on name
        :param str serial: Filter on serial
        :param str comment: Filter on comment
        :param str scsi_address: Filter on scsi address
        :param str vendor: Filter on vendor
        :param str product: Filter on product
        :param str firmware: Filter on firmware
        :param str device: Filter on device
        :param str sgdevice: Filter on sgdevice
        :param str libso: Filter on libso
        :param str acs: Filter on acs
        :param str lsm: Filter on lsm
        :param str panel: Filter on panel
        :param str transport: Filter on transport
        :param str status: Filter on status
        :param str full: Filter on full
        :param str mount_count: Filter on mount count
        :param str use_to: Filter on use to
        :param str use_by: Filter on use by
        :param str use_file_processed_size: Filter on use file processed size
        :param str use_file_size_to_process: Filter on use file size to process
        :param str use_file_name_processed: Filter on use file name processed
        :param str bandwidth: Filter on bandwidth
        :return: TapeDriveCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_library_id', 'limit', 'offset', 'sort_by', 'id', 'name', 'serial', 'comment', 'scsi_address', 'vendor', 'product', 'firmware', 'device', 'sgdevice', 'libso', 'acs', 'lsm', 'panel', 'transport', 'status', 'full', 'mount_count', 'use_to', 'use_by', 'use_file_processed_size', 'use_file_size_to_process', 'use_file_name_processed', 'bandwidth']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method index_tape_drives_by_tape_library" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_library_id' is set
        if ('tape_library_id' not in params or
                params['tape_library_id'] is None):
            raise ValueError("Missing the required parameter `tape_library_id` when calling `index_tape_drives_by_tape_library`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_library_id' in params:
            path_params['tape_library_id'] = params['tape_library_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sort_by', params['sort_by']))  # noqa: E501
            collection_formats['sort_by'] = 'pipes'  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'serial' in params:
            query_params.append(('serial', params['serial']))  # noqa: E501
        if 'comment' in params:
            query_params.append(('comment', params['comment']))  # noqa: E501
        if 'scsi_address' in params:
            query_params.append(('scsi_address', params['scsi_address']))  # noqa: E501
        if 'vendor' in params:
            query_params.append(('vendor', params['vendor']))  # noqa: E501
        if 'product' in params:
            query_params.append(('product', params['product']))  # noqa: E501
        if 'firmware' in params:
            query_params.append(('firmware', params['firmware']))  # noqa: E501
        if 'device' in params:
            query_params.append(('device', params['device']))  # noqa: E501
        if 'sgdevice' in params:
            query_params.append(('sgdevice', params['sgdevice']))  # noqa: E501
        if 'libso' in params:
            query_params.append(('libso', params['libso']))  # noqa: E501
        if 'acs' in params:
            query_params.append(('acs', params['acs']))  # noqa: E501
        if 'lsm' in params:
            query_params.append(('lsm', params['lsm']))  # noqa: E501
        if 'panel' in params:
            query_params.append(('panel', params['panel']))  # noqa: E501
        if 'transport' in params:
            query_params.append(('transport', params['transport']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'full' in params:
            query_params.append(('full', params['full']))  # noqa: E501
        if 'mount_count' in params:
            query_params.append(('mount_count', params['mount_count']))  # noqa: E501
        if 'use_to' in params:
            query_params.append(('use_to', params['use_to']))  # noqa: E501
        if 'use_by' in params:
            query_params.append(('use_by', params['use_by']))  # noqa: E501
        if 'use_file_processed_size' in params:
            query_params.append(('use_file_processed_size', params['use_file_processed_size']))  # noqa: E501
        if 'use_file_size_to_process' in params:
            query_params.append(('use_file_size_to_process', params['use_file_size_to_process']))  # noqa: E501
        if 'use_file_name_processed' in params:
            query_params.append(('use_file_name_processed', params['use_file_name_processed']))  # noqa: E501
        if 'bandwidth' in params:
            query_params.append(('bandwidth', params['bandwidth']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_libraries/{tape_library_id}/tape_drives', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TapeDriveCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def show_tape_drive(self, tape_drive_id, **kwargs):  # noqa: E501
        """Displays a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / show  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_tape_drive(tape_drive_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.show_tape_drive_with_http_info(tape_drive_id, **kwargs)  # noqa: E501
        else:
            (data) = self.show_tape_drive_with_http_info(tape_drive_id, **kwargs)  # noqa: E501
            return data

    def show_tape_drive_with_http_info(self, tape_drive_id, **kwargs):  # noqa: E501
        """Displays a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / show  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_tape_drive_with_http_info(tape_drive_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_drive_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method show_tape_drive" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_drive_id' is set
        if ('tape_drive_id' not in params or
                params['tape_drive_id'] is None):
            raise ValueError("Missing the required parameter `tape_drive_id` when calling `show_tape_drive`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_drive_id' in params:
            path_params['tape_drive_id'] = params['tape_drive_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_drives/{tape_drive_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TapeDrive',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def show_tape_drive_by_tape_library(self, tape_library_id, tape_drive_id, **kwargs):  # noqa: E501
        """Displays a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / show  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_tape_drive_by_tape_library(tape_library_id, tape_drive_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.show_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, **kwargs)  # noqa: E501
        else:
            (data) = self.show_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, **kwargs)  # noqa: E501
            return data

    def show_tape_drive_by_tape_library_with_http_info(self, tape_library_id, tape_drive_id, **kwargs):  # noqa: E501
        """Displays a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / show  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.show_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_library_id', 'tape_drive_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method show_tape_drive_by_tape_library" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_library_id' is set
        if ('tape_library_id' not in params or
                params['tape_library_id'] is None):
            raise ValueError("Missing the required parameter `tape_library_id` when calling `show_tape_drive_by_tape_library`")  # noqa: E501
        # verify the required parameter 'tape_drive_id' is set
        if ('tape_drive_id' not in params or
                params['tape_drive_id'] is None):
            raise ValueError("Missing the required parameter `tape_drive_id` when calling `show_tape_drive_by_tape_library`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_library_id' in params:
            path_params['tape_library_id'] = params['tape_library_id']  # noqa: E501
        if 'tape_drive_id' in params:
            path_params['tape_drive_id'] = params['tape_drive_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_libraries/{tape_library_id}/tape_drives/{tape_drive_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TapeDrive',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_tape_drive(self, tape_drive_id, tape_drive_body, **kwargs):  # noqa: E501
        """Updates a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_tape_drive(tape_drive_id, tape_drive_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :param TapeDrive tape_drive_body: (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_tape_drive_with_http_info(tape_drive_id, tape_drive_body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_tape_drive_with_http_info(tape_drive_id, tape_drive_body, **kwargs)  # noqa: E501
            return data

    def update_tape_drive_with_http_info(self, tape_drive_id, tape_drive_body, **kwargs):  # noqa: E501
        """Updates a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_tape_drive_with_http_info(tape_drive_id, tape_drive_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :param TapeDrive tape_drive_body: (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_drive_id', 'tape_drive_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_tape_drive" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_drive_id' is set
        if ('tape_drive_id' not in params or
                params['tape_drive_id'] is None):
            raise ValueError("Missing the required parameter `tape_drive_id` when calling `update_tape_drive`")  # noqa: E501
        # verify the required parameter 'tape_drive_body' is set
        if ('tape_drive_body' not in params or
                params['tape_drive_body'] is None):
            raise ValueError("Missing the required parameter `tape_drive_body` when calling `update_tape_drive`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_drive_id' in params:
            path_params['tape_drive_id'] = params['tape_drive_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'tape_drive_body' in params:
            body_params = params['tape_drive_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_drives/{tape_drive_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TapeDrive',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_tape_drive_by_tape_library(self, tape_library_id, tape_drive_id, tape_drive_body, **kwargs):  # noqa: E501
        """Updates a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_tape_drive_by_tape_library(tape_library_id, tape_drive_id, tape_drive_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :param TapeDrive tape_drive_body: (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, tape_drive_body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, tape_drive_body, **kwargs)  # noqa: E501
            return data

    def update_tape_drive_by_tape_library_with_http_info(self, tape_library_id, tape_drive_id, tape_drive_body, **kwargs):  # noqa: E501
        """Updates a specific tape drive.  # noqa: E501

        **API Key Scope**: tape_drives / update  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_tape_drive_by_tape_library_with_http_info(tape_library_id, tape_drive_id, tape_drive_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tape_library_id: Numeric ID, serial, or name of tape library. (required)
        :param str tape_drive_id: Numeric ID, serial, or name of tape drive. (required)
        :param TapeDrive tape_drive_body: (required)
        :return: TapeDrive
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tape_library_id', 'tape_drive_id', 'tape_drive_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_tape_drive_by_tape_library" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tape_library_id' is set
        if ('tape_library_id' not in params or
                params['tape_library_id'] is None):
            raise ValueError("Missing the required parameter `tape_library_id` when calling `update_tape_drive_by_tape_library`")  # noqa: E501
        # verify the required parameter 'tape_drive_id' is set
        if ('tape_drive_id' not in params or
                params['tape_drive_id'] is None):
            raise ValueError("Missing the required parameter `tape_drive_id` when calling `update_tape_drive_by_tape_library`")  # noqa: E501
        # verify the required parameter 'tape_drive_body' is set
        if ('tape_drive_body' not in params or
                params['tape_drive_body'] is None):
            raise ValueError("Missing the required parameter `tape_drive_body` when calling `update_tape_drive_by_tape_library`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tape_library_id' in params:
            path_params['tape_library_id'] = params['tape_library_id']  # noqa: E501
        if 'tape_drive_id' in params:
            path_params['tape_drive_id'] = params['tape_drive_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'tape_drive_body' in params:
            body_params = params['tape_drive_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tape_libraries/{tape_library_id}/tape_drives/{tape_drive_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TapeDrive',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
